#!/usr/bin/env bash

# START SETTINGS ksql_server.base
export CONTECO_DC_KSQLDB_SERVER_KSQL_KSQL_SERVICE_ID="${CONTECO_STACKPREFIX}"
export CONTECO_DC_KSQLDB_SERVER_MODE=",'KSQL_LISTENERS=http://0.0.0.0:8088','KSQL_KSQL_SCHEMA_REGISTRY_URL=http://schema_registry:8081'"
export CONTECO_DC_KSQLDB_SERVER_CONSOLE=",'KSQL_LISTENERS=http://0.0.0.0:8088','KSQL_KSQL_SCHEMA_REGISTRY_URL=http://schema_registry:8081'"
export CONTECO_DC_KSQLDB_SERVER_HEADLESS=",'KSQL_KSQL_QUERIES_FILE=','KSQL_KSQL_SCHEMA_REGISTRY_URL=http://schema_registry:8081'"
#export CONTECO_DC_KSQLDB_SERVER_ENVIRONMENT_CLOUD_BOOTSTRAP_SERVERS=
#export CONTECO_DC_KSQLDB_SERVER_ENVIRONMENT_SASL_JAAS_CONFIG_CLUSTER_API_KEY=
#export CONTECO_DC_KSQLDB_SERVER_ENVIRONMENT_SASL_JAAS_CONFIG_CLUSTER_API_SECRET=
#export CONTECO_DC_KSQLDB_SERVER_ENVIRONMENT_PRODUCER_CONFLUENT_MONITORING_INTERCEPTOR_SASL_JAAS_CONFIG_CLUSTER_API_KEY=
#export CONTECO_DC_KSQLDB_SERVER_ENVIRONMENT_PRODUCER_CONFLUENT_MONITORING_INTERCEPTOR_SASL_JAAS_CONFIG_CLUSTER_API_SECRET=
#export CONTECO_DC_KSQLDB_SERVER_ENVIRONMENT_CONSUMER_CONFLUENT_MONITORING_INTERCEPTOR_SASL_JAAS_CONFIG_CLUSTER_API_KEY=
#export CONTECO_DC_KSQLDB_SERVER_ENVIRONMENT_CONSUMER_CONFLUENT_MONITORING_INTERCEPTOR_SASL_JAAS_CONFIG_CLUSTER_API_SECRET=
#export CONTECO_DC_KSQLDB_SERVER_ENVIRONMENT_SCHEMA_REGISTRY_URL=
#export CONTECO_DC_KSQLDB_SERVER_ENVIRONMENT_SCHEMA_REGISTRY_API_KEY=
#export CONTECO_DC_KSQLDB_SERVER_ENVIRONMENT_SCHEMA_REGISTRY_API_SECRET=

export CONTECO_DC_KSQLDB_SERVER_PORTS="8088:8088"
export CONTECO_DC_KSQLDB_SERVER_DEPLOY_RESOURCES_LIMITS_MEMORY="1536m"
export CONTECO_DC_KSQLDB_SERVER_DEPLOY_RESOURCES_RESERVATIONS_MEMORY="1024m"
# END SETTINGS ksql_server.base
# START SETTINGS nginx.base
export CONTECO_DC_KSQLDB_SERVER_REST_KSQL_SERVER_COMPOSE_EXTENSIONS="      labels: [traefik.enable=true,traefik.docker.network=${CONTECO_NETWORKGLOBAL}_overlay, traefik.http.services.${CONTECO_STACKPREFIX}_nginx.loadbalancer.server.port=80, traefik.http.routers.${CONTECO_STACKPREFIX}_nginx.entrypoints=conteco, traefik.http.routers.${CONTECO_STACKPREFIX}_nginx.rule=PathPrefix(\"/${CONTECO_URLPREFIX}/streamsets\")]${DOLLAR}{CONTECO_DC_NGINX_COMPOSE_EXTENSIONS}"
export CONTECO_DC_KSQLDB_SERVER_REST_KSQL_SERVER_ENVIRONMENT_CONF_PATH="/${CONTECO_URLPREFIX}/streamsets"
export CONTECO_DC_KSQLDB_SERVER_REST_KSQL_SERVER_ENVIRONMENT_CONF_UPSTREAM="${CONTECO_STACKPREFIX}_streamsets:18630"
export CONTECO_DC_KSQLDB_SERVER_REST_KSQL_SERVER_DEPLOY_RESOURCES_LIMITS_MEMORY="64m"
export CONTECO_DC_KSQLDB_SERVER_REST_KSQL_SERVER_DEPLOY_RESOURCES_RESERVATIONS_MEMORY="16m"
# END SETTINGS nginx.base
